<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600"/>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="default.aspx" protection="All" timeout="60"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="15" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Drawing"/>
      </namespaces>
    </pages>
    <!--<identity impersonate="true" userName="administrator" password="sysfreight"/>-->
  </system.web>
  <location allowOverride="true">
    <appSettings>
      <add key="DataSource" value="192.168.0.230"/>
      <add key="InitialCatalog" value="eTrack"/>
      <add key="DataBaseSetting" value="eTrack"/>
      <add key="timeout" value="120"/>
      <add key="UserId" value="sa"/>
      <add key="Password" value="p@ssw0rd$"/>
      <add key="RowSeparator" value="@@@"/>
      <add key="ColSeparator" value="###"/>
      <add key="ParSeparator" value="~~~"/>
      <add key="SuccessPrompt" value="1"/>
      <add key="SavePrompt" value="0"/>
      <add key="AuditPrompt" value="1"/>
      <add key="NotifyPrompt" value="0"/>
      <add key="DeletePrompt" value="1"/>
      <add key="RestorePrompt" value="0"/>
      <add key="SubDeletePrompt" value="0"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="Normal" value="Black"/>
      <add key="Deleted" value="Red"/>
      <add key="Low" value="Black"/>
      <add key="High" value="Red"/>
      <add key="MasterWidth" value="700"/>
      <add key="MasterHeight" value="510"/>
      <add key="InfoWidth" value="560"/>
      <add key="InfoHeight" value="420"/>
      <add key="MultiWidth" value="732"/>
      <add key="MultiHeight" value="545"/>
      <add key="AccountWidth" value="600"/>
      <add key="AccountHeight" value="445"/>
      <add key="BarcodeHeight" value="285"/>
      <add key="CustEditWidth" value="500"/>
      <add key="CustEditHeight" value="380"/>
      <add key="FactEditWidth" value="500"/>
      <add key="FactEditHeight" value="380"/>
      <add key="MaxLimit" value="500"/>
      <add key="MaxPrintLimit" value="500"/>
      <add key="SearchSize" value="24"/>
      <add key="OpenSize" value="24"/>
      <add key="DetailSize" value="24"/>
      <add key="InfoSize" value="24"/>
      <add key="QuerySize" value="24"/>
      <add key="SmtpServer" value=""/>
      <add key="SmtpPort" value="25"/>
      <add key="SmtpUserName" value=""/>
      <add key="SmtpPassword" value=""/>
      <add key="SmtpEmail" value=""/>
      <add key="DirectShowExtension" value=".txt,.doc,.xls,.pdf,.jpg,.gif,.bmp,jpeg,.ico,.pic,.pix,.tga,.ppt"/>
      <add key="fontsize" value="9"/>
      <add key="SiteCode" value="IDJKT,ADZZZ,IDSRG,IDBLW,SGSIN,THBKK,THLCH,MYPKG,MYPEN,MYPGU,VNHCM"/>
      <add key="drpSearch" value="Order No,Job No,BL No,AWB No,Container No,Reference No"/>
      <add key="drpTranshipmentTrack" value="House B/L,Container No"/>
      <add key="drpImportShipment" value="House B/L,Container No"/>
      <add key="drpExportShipment" value="House B/L,Booking RefNo"/>
      <add key="UpperCase" value="y"/>
      <add key="showIssue" value="n"/>
      <add key="ImpShipment_Label14" value="Container Devanning date"/>
      <add key="ImpShipment_Label4" value="D/O ready for collection date"/>
      <add key="ImpShipment_Label6" value="D/O Collection date"/>
      <add key="ImpShipment_Label16" value="Cargo Release date"/>
    </appSettings>
  </location>
</configuration>