<?xml version="1.0"?>
<configuration>
	<appSettings>
	<!--<add key="DataSource" value="192.168.1.250\SQL2000"/>
		<add key="InitialCatalog" value="eTrack"/>
    <add key="DataBaseSetting" value="eTrack"/>-->
			<add key="DataSource" value=".\SQLEXPRESS"/>
    <!--<add key="DataSource" value="THINKPADUSER-PC\SQL2008"/>-->
		<add key="InitialCatalog" value="eTRack"/>
		<add key="DataBaseSetting" value="eTRack,DevFreight"/>
		<add key="timeout" value="120"/>
		<add key="UserId" value="sa"/>
		<add key="Password" value=""/>
		<!-- This part End-->
		<add key="RowSeparator" value="@@@"/>
		<add key="ColSeparator" value="###"/>
		<add key="ParSeparator" value="~~~"/>
		<add key="SuccessPrompt" value="1"/>
		<add key="SavePrompt" value="0"/>
		<add key="AuditPrompt" value="1"/>
		<add key="NotifyPrompt" value="0"/>
		<add key="DeletePrompt" value="1"/>
		<add key="RestorePrompt" value="0"/>
		<add key="SubDeletePrompt" value="0"/>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<add key="Normal" value="Black"/>
		<add key="Deleted" value="Red"/>
		<add key="Low" value="Black"/>
		<add key="High" value="Red"/>
		<add key="MasterWidth" value="700"/>
		<add key="MasterHeight" value="510"/>
		<add key="InfoWidth" value="560"/>
		<add key="InfoHeight" value="420"/>
		<add key="MultiWidth" value="732"/>
		<add key="MultiHeight" value="545"/>
		<add key="AccountWidth" value="600"/>
		<add key="AccountHeight" value="445"/>
		<add key="BarcodeHeight" value="285"/>
		<add key="CustEditWidth" value="500"/>
		<add key="CustEditHeight" value="380"/>
		<add key="FactEditWidth" value="500"/>
		<add key="FactEditHeight" value="380"/>
		<add key="MaxLimit" value="500"/>
		<add key="MaxPrintLimit" value="500"/>
		<!-- This part for setting the parameter for show record eg:SearchSize-->
		<add key="SearchSize" value="24"/>
		<add key="OpenSize" value="24"/>
		<add key="DetailSize" value="24"/>
		<add key="InfoSize" value="24"/>
		<add key="QuerySize" value="24"/>
		<!-- This part End-->
		<!-- Smtp Mail Server-->
		<add key="SmtpServer" value=""/>
		<add key="SmtpPort" value="25"/>
		<add key="SmtpUserName" value=""/>
		<add key="SmtpPassword" value=""/>
		<add key="SmtpEmail" value=""/>
		<add key="DirectShowExtension" value=".txt,.doc,.xls,.pdf,.jpg,.gif,.bmp,jpeg,.ico,.pic,.pix,.tga,.ppt"/>
		<!--For CTS Logic-->
		<add key="fontsize" value="9"/><!--For CTS Report FontSite-->
		<add key="SiteCode" value="IDJKT,ADZZZ,IDSRG,IDBLW,SGSIN,THBKK,THLCH,MYPKG,MYPEN,MYPGU,VNHCM"/>
		<add key="UpperCase" value="y"/>
		<!--show booking warehouse issuel button  show :y  unshow: n-->
		<add key="showIssue" value="n"/>
	</appSettings>
	<system.web>
		<httpRuntime maxRequestLength="102400" executionTimeout="3600"/>
		<compilation defaultLanguage="vb" debug="true">
			<assemblies>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<customErrors mode="RemoteOnly"/>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="default.aspx" protection="All" timeout="60"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages>
			<namespaces>
				<add namespace="Microsoft.VisualBasic"/>
				<add namespace="System.Data"/>
				<add namespace="System.Drawing"/>
			</namespaces>
		</pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="Microsoft.Web.Script.Services.ScriptHandlerFactory, Microsoft.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
	</system.web>
</configuration>
