span.navNml{border-top:1px solid #fe7e00;border-bottom:1px solid #fe7e00; background:#fe7e00;}
span.navOn{background: url(../Images/topnav_Orange.gif) #fe7e00 repeat-x; }
span.noSep{background-image:none; border-right:1px solid #fe7e00 ; cursor:hand}

#divTopNav{height:30px;}

#divTopNav{background: url(../Images/topnav_bg_Orange.gif) #fe7e00 repeat-x;}

#ulTopNav{margin-left:1px;text-align:center; height:22px;}	
#ulTopNav li{float:left;margin-top:1px;list-style-type:none;font-weight:bold;clear:none }	
#ulTopNav li span{width:88px;height:24px;margin-top:3px;display:block;line-height:24px}	  
#ulTopNav li span.navOn{height:28px; margin:0;border:0;line-height:28px}	
#ulTopNav li span.f12c{font-size:12px;color:#fe7e00}
#ulTopNav li span.f12e{font-size:12px;color:#FFF}

#divBottomNav{text-align:right;height:22px;}    
#divBottomNav{background: url(../Images/topnav_bn_Orange.gif) #fe7e00 repeat-x 0% bottom;}

.divBorder{border:1px solid #fe7e00;}