/*Column Image */
.colDelele{width:12px; cursor:hand;font-weight:bold} /*Delete Row */
.colEdit{width:40px;font-weight:bold;} /*BaseInfo Edit Row */
.colRoleInfo{width:60px;font-weight:bold;}
.colListPrint{width:60px;font-weight:bold;}
.colSelected{width:20px;}
.colBar{width:18px;} /*Barcode Row */
.colOneImg{width:18px;}
/*Column Check */
.colCheck{width:18px;} /* Selected or UnSelected Row */

/*Column Auto */
.colAuto{overflow:hidden;}

/*#divSource, #divDestination*/
div tr{vertical-align:middle; line-height:120%;word-wrap:break-word;border-color:#E6EEF7;}
div td{vertical-align:middle; line-height:120%;border-color:#E6EEF7; }
div tr.Header{background-color:#E6EEF7; text-align:center; cursor:hand;word-wrap:break-word;border-color:#E6EEF7;}
div tr.Footer{color:#E6EEF7;background-color:#E6EEF7;word-wrap:break-word;border-color:#E6EEF7;}
div tr.Row{color:black;cursor:hand;border-color:#E6EEF7;word-wrap:break-word;}
div tr.SelectRow{color:white;background-color:#008A8C; cursor:hand;border-color:#E6EEF7;}
div tr.Pager {color:black;background-color:#E6EEF7;border-color:#E6EEF7;}
/*div tr.Alternating{background-color:#F0F0F0; cursor:hand;}*/
div tr.Alternating{background-color:#e6eff8; cursor:hand;}

/*div td{margin: 0px 1px; padding:0px 2px;border:1px solid ; word-wrap:break-word;}
/*div td{margin: 0px 1px; padding:0px 2px ; border:1px solid ;}*/
div input.gridInput{height:100%;width:100%; border:0px; padding-right:1px; text-align:right;}
div input.remark{text-align:left;}

.delImg{height:14px;width:14px; overflow:hidden;}
.barImg{height:14px;width:14px; overflow:hidden;}
.divNonScroll{overflow: hidden; width: 100%;}