input.btnFnt{width:50px;height/**/:19px; margin-left:8px;padding-left:4px;cursor:pointer; padding-top:1px}
input.checkbox{width:14px;height:14px; }
#divSearch{float:left; margin-top:2px;margin-bottom:2px; margin-left:1px; padding-right:20px;}	
.searchICO{background:url(../images/search.gif) no-repeat;border:1px solid #3B6592}
.searchICO{width:18px; height:17px!important; height:18px; border-right:0px;}	  
#divSearch input{ height:19px!important;height:18px}	  
#divSearch input.txtSearch{width:99%;}

#divPage{float:left; margin-top:2px; margin-bottom:2px; padding-right:20px;}
#txtPage{width:40px}
#lblPage{ margin-left:2px;margin-right:10px}
/*#divPage div{ margin-right:4px}*/

#divSource,#divDestination {height:203px; overflow-y:scroll; border:1px solid #3B6592; margin-left:1px;}
#gvwSource,#gvwDestination {width:99%; }

#divFooter{float:right; margin-top:2px; margin-bottom:2px; padding-right:20px;}


