.Title{	color:rgb(25,149,230);	font-size: 16px;text-align:center; font-weight:bold;}
#divTitle {text-align:left;font-size:16px;height:24px;background: url(../Images/topnav_bg.jpg) #73a2d6 repeat-x; margin-top:5px;min-width: 760px;width:100%;);width:100%;}
#lblTitle{padding-left:10px;}