.divline{text-align:center;padding-top:5px;padding-bottom:5px;}
#divForm{text-align:center;vertical-align:middle;}
#divTopNav{width:516px;}
#divMiddle1{height:310px;width:514px;padding-top:10px;}
#divMiddle2{height:310px;width:514px;padding-top:10px;display:none;}
#divBottomNav{text-align:right;width:496px;padding-top:8px; padding-right:20px;}

#ulTopNav li span{width:130px;}

#lblsCompNo{display:inline-block;width:120px;}
#txtsCompNo{width:320px;}
#lblsCnCompPartName{display:inline-block;width:120px;}
#txtsCnCompPartName{width:320px;}
#lblsCnCompName{display:inline-block;width:120px;}
#txtsCnCompName{width:320px;}
#lblsCnCompAddr{display:inline-block;width:120px;}
#txtsCnCompAddr{width:320px;}
#lblsCompTel{display:inline-block;width:120px;}
#txtsCompTel{width:320px;}
#lblsCompFax{display:inline-block;width:120px;}
#txtsCompFax{width:320px;}
#lblsCompZip{display:inline-block;width:120px;}
#txtsCompZip{width:320px;}
#lblsCompWeb{display:inline-block;width:120px;}
#txtsCompWeb{width:320px;}

#lblsCompEmail{display:inline-block;width:170px;}
#txtsCompEmail{width:270px;}
#lblsSmtpServer{display:inline-block;width:170px;}
#txtsSmtpServer{width:270px;}
#lblsSmtpPort{display:inline-block;width:170px;}
#txtsSmtpPort{width:270px;}
#lblsSmtpUser{display:inline-block;width:170px;}
#txtsSmtpUser{width:270px;}
#lblsSmtpPassword{display:inline-block;width:170px;}
#txtsSmtpPassword{width:270px;}
#lblsConfirmPassword{display:inline-block;width:170px;}
#txtsConfirmPassword{width:270px;}
