.fdiv1{padding-top:5px; position:relative; height:100px; width:240px; border:1px solid #3B6592}
.fdiv2{float:right;padding-top:15px; padding-right:25px;}
.fdiv{text-align:center;padding-top:5px;}
div{padding-top:10px}
.DropList{width:130px}
