.divline{text-align:center;padding-top:5px;padding-bottom:5px;}
#divForm{text-align:center;}
#divTopNav{width:540px;}
#divMiddle{text-align:center;width:538px;height:220px; padding-top:50px;}
#divBottomNav{width:520px;padding-top:5px; text-align :right ;}

#ulTopNav li span{width:150px;}

#lblsPasswordOld{display:inline-block;width:120px;}
#txtsPasswordOld{width:150px;}
#lblsPassword1{display:inline-block;width:120px;}
#txtsPassword1{width:150px;}
#lblsPassword2{display:inline-block;width:120px;}
#txtsPassword2{width:150px;}