.divline {padding-top:2px;padding-bottom:5px; position:relative; text-align:left;}
.fdiv{text-align:center;}
.Title{	color: #4f9bc9;	font-size: 20px;text-align:center; font-weight:bold;}
.divfirst{padding-top:20px;text-align:left;position:relative;padding-bottom:5px;}
.divsecond{border-left:1px solid #73a2d6;border-right:1px solid #73a2d6; width:538px;height:auto; padding-left:20px; padding-top:10px;}
.divthird{text-align: right;padding-top:5px; padding-right:20px; width: 540px;height: 32px;background-image: url(../../Images/topnav_bn.jpg);background-repeat: repeat-x;background-color: #73a2d6;background-position-y: bottom;}
#divTopNav{width:560px;}  
#divTitle {text-align:left;font-size:16px;width:400px;height:26px;background: url(../../Images/topnav_bg.jpg) #73a2d6 repeat-x; margin-top:5px}

.rightMoney{text-align:right}
