.divline{text-align:center;padding-top:5px;padding-bottom:5px;}
#divForm{text-align:center;vertical-align:middle;}
#divTopNav{width:100%;}
#divMiddle1{height:220px;width:100%;padding-top:40px;}
#divMiddle2{height:260px;width:100%;display:none;}
#divBottomNav{text-align:right;}
#divPerson{height:260px;overflow-y:scroll;width:99%;}
#gvwPerson{width:99%;}
#lblsRoleNo{display:inline-block;width:100px;}
#txtsRoleNo{width:150px;}
#lblsRoleName{display:inline-block;width:100px;}
#txtsRoleName{width:150px;}
.Hint{top:137px;left:59px;}