.divline{padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px;}
#divForm{text-align:left;}
#divTopNav{width:447px;}
#divMiddle{width:445px; padding-top:15px; height:250px;}
#divBottomNav{text-align:right; width:427px; padding-top:8px;padding-right:20px; }
.Label{width:150px; display:inline-block ;}
.btnUpdate{width:80px;}

.dteButton{width: 20px;}

.dteTextBox{width:104px;}