.divline{text-align:left;padding-top:3px;padding-bottom:3px;width:98%}
#lbAsonDate{width:110px;display:inline-block;}
#lbMovenMentDate{width:110px;display:inline-block;}
#drProductCode{width:130px;}
#txtCustomerCode{width:130px;}
#drProductCodeField{width:130px;}
#btnDepartureDate{width:20px;}
#lblweek{width:60px;display:inline-block;}
.spanspace{width: 200px; display: inline-block;}

.lbl{display:inline-block; width:120px;}
.lblBottom{display:inline-block; width:123px;}
.txt{width:290px;}
.bntDate{width:20px;}
.txtDate{width:100px;}
.divInventory{padding-left :10px; padding-top :3px; padding-bottom :3px;}
.lblInventory{width:60px;display:inline-block; padding-left :10px;}
.txtmin{width:18px;}
.txtmin3{width:30px;}
.txtLong{width:395px;}
.txtLong2{width:360px;}
#txtContant{width:98%; height :400px;}
.drMon{width:150px;}
.txtFir{width:350px;}


#divSearch{ margin-top:2px;margin-bottom:2px; margin-left:1px; padding-right:20px;}	
#divSearch{float:left; clear:both }
#divSearch input.txtSearch{ height:19px!important;height:18px}	
#divSearch input.txtSearch{width:300px;}
#divSearch .drpSearch{width:120px;}

table tr td{border:1px solid #F0F0F0; }



