.divline{padding-top:0px; padding-bottom:0px;}
#divForm{text-align:left;}
 #divBottomNav{text-align:right; padding-top:8px;padding-right:20px; float:right; position :absolute ; bottom :2px;}
.txt{width:100px; height :20px;}
.txtT{ height :20px;}