.divline{text-align:center;padding-top:5px;padding-bottom:5px;}
#divForm{text-align:center;}
#divTopNav{width:620px;}
#divMiddle{text-align:center;padding-top:20px; }
#divBottomNav{padding-top:5px;}

#ulTopNav li span{width:150px;}

.FileUpload{ border:1px solid #3B6592; width:550px; height:18px}
.file { position:absolute; right:90px; top:8px; display:none;filter:alpha(opacity=0);opacity:0}