
span.navNml{border-top:1px solid #19077d;border-bottom:1px solid #19077d; background:#19077d;}
span.navOn{background: url(../Images/topnav_Smalt.gif) #19077d repeat-x; }
span.noSep{background-image:none; border-right:1px solid #19077d ; cursor:hand}

#divTopNav{height:30px;}

#divTopNav{background: url(../Images/topnav_bn_Smalt.gif) #19077d repeat-x;}

#ulTopNav{margin-left:1px;text-align:center; height:22px;}	
#ulTopNav li{float:left;margin-top:1px;list-style-type:none;font-weight:bold;clear:none }	
#ulTopNav li span{width:88px;height:24px;margin-top:3px;display:block;line-height:24px}
#ulTopNav li span.navOn{height:28px; margin:0;border:0;line-height:28px}	
#ulTopNav li span.f12c{font-size:12px;color:#19077d}
#ulTopNav li span.f12e{font-size:12px;color:#FFF}

#divBottomNav{text-align:right;height:22px;}
#divBottomNav{background: url(../Images/topnav_bn_Smalt.gif) #19077d repeat-x 0% bottom;}

.divBorder{border:1px solid #19077d;}