.divline{text-align:left;padding-top:2px;padding-bottom:2px; padding-left:50px;}
#divForm{text-align:center;vertical-align:middle;}
#divTopNav{width:100%;}
#divMiddle1{height:492px;width:99%;padding-top:10px; overflow-y:scroll; overflow-x:auto;}
#divBottomNav{text-align:right;width:100%;padding-top:8px; position :absolute ; bottom :5px; left :0px;}

#ulTopNav li span{width:130px;}

.lblShare{display:inline-block;width:200px;}

.lblApprovals{display:inline-block;width:300px;}
 
.txt{width:320px;}

.DropDown{width:320px;}
 
.btnDate{width:20px;}
 
.alignRight{text-align:right;}
 
#lblApprovals{display:inline-block;width:150px;height:48px; vertical-align:top;}


.Remark{width:320px;height:60px;}

.lblRemark{display:inline-block;width:200px;height:60px;vertical-align :top ;}