.divline{padding-top:1px; padding-bottom:1px;}
#divForm{text-align:left;}
#divBottomNav{width: 100%;text-align:right; padding-top:8px;width:100%; position:absolute ; bottom :5px; left :0px;}
#ulTopNav li span.Size{width:100px;}

.txtField{border-color:White;border-width:0px;border-style:Solid;height/**/:17px;font-family:"Arial",Arial, Helvetica, sans-serif;}
.CheckBox{display:inline-block;text-align:left;width:80px;}
.CheckBox1{display:inline-block;text-align:left;width:20px;}
.lbl{display:inline-block; padding-left :5px;}
.txt{width:100px; clear:both;}
.bntDate{width:20px;}
.txtDate{width:100px;}
.inline{display:inline;}
.twoLine{height: 40px;}
.10Width{width:20%;}
 /*Control Style*/
.lblTop{vertical-align :top;}
 #lblRegTrucking{height :40px;}
.inner{width: 183px;height: 48px; float :left ;}
.inner2{width: 250px;height: 48px;}
* html .inner{display: inline;}
/*for mozilla */
html > body .inner{display: table;float: left;}
/*for mozilla */
@media all and (min-width: 0px)
{/* opera 7 styles */
html > body .inner{display: inline-block;float: none;}
}
 /*Control Style*/